{% extends 'templates/app.twig' %}

{% block content %}
    <h3 class="display-4 pt-5">{{ person.getFullName() }}</h3>
    <div class="card mt-3">
        <div class="card-header">
            <h4>Friends</h4>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for friend in person.friends %}
                    <li class="list-group-item">
                        {{ friend.getFullName() }} <span class="badge badge-info">{{ person.age }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="card mt-5">
        <div class="card-header">
            <h5>Friends of friends</h5>
        </div>
        <div class="card-body">
            <ul class="list-group">
                {% for friend in friendsOf %}
                    {% for person in friend %}
                        <li class="list-group-item">
                            {{ person.getFullName() }} <span class="badge badge-info">{{ person.age }}</span>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
